<html>
<head>
    <meta charset="utf-8">
    <title>Student Details</title>
    <!-- Datatables Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

</head>
<body>
    <div class='container'>
        <table id = 'studentRecords' class='table table-hover table-striped'>
            <thead>
                <tr>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Section</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.roll }}</td>
                    <td>{{ student.Name }}</td>
                    <td>{{ student.section }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#studentRecords').DataTable();
        } );
    </script>
</html>
